header {
  position: sticky;
  top: 0;
  opacity: 1;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-width: 300px;
  height: 40px;
}

.search {
    border: 1px solid #d0d5dd;
    border-radius: 8px;
    width: 360px;
    height: 44px;
    margin: 0 40px;
  }
  
  header a {
    color: #101828;
    font-size: 16px;
    line-height: 24px;
  }
  
  header .highlighted {
    display: flex;
    width: fit-content;
    border: 3px solid rgba(127, 86, 217, 0.2);
    border-radius: 8px;
    overflow: hidden;
    position: sticky;
  }
  
  header .highlighted a {
    background-color: #285430;
    color: #fff;
    padding: 8px 15px;
  }
  
  header .general-links {
    margin-right: 75px;
    position: sticky;
  }
  
  header .general-links a {
    margin-right: 25px;
  }
  
  header .general-links a:last-child {
    margin-right: 0;
  }
  
  header a.sign-in-link {
    margin-right: 20px;
  }
  
  header,
  header .general-links,
  header nav,
  .collaborators,
  .collaborators .company-icons {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  header {
    justify-content: space-between;
    height: 100px;
  }

  .collaborators {
    justify-content: space-between;
  }
  
  .collaborators .company-icons {
    margin-left: 30px;
  }
  
  .collaborators .company-icons img {
    margin-left: 30px;
  }

  div .getfreetrial {
    background-color: #E5D9B6;
    display: flex;
    width: fit-content;
    color: #fff;
    padding: 8px 15px;
    margin: 0 0 60px;
    overflow: hidden;
    border-radius: 8px;
  }

  div a {
    color: #101828;
    font-size: 16px;
    line-height: 24px;
  }
  
  div .getstarted {
    display: flex;
    width: fit-content;
    border: 3px solid rgba(127, 86, 217, 0.2);
    border-radius: 8px;
    overflow: hidden;
    margin: 0 0 60px;
  }
  
  div .highlighted a {
    background-color: #285430;
    color: #fff;
    padding: 8px 15px;
  }
  
  div a {
    color: #101828;
    font-size: 16px;
    line-height: 24px;
  }

  .banner-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  div .getstarted {
    display: flex;
    width: fit-content;
    border: 3px solid rgba(127, 86, 217, 0.2);
    border-radius: 8px;
    overflow: hidden;
  }
  
  div .getstarted a {
    background-color: #285430;
    color: #fff;
    padding: 8px 15px;
  }

  @media screen and (max-width: 1200px) {
    .header .search {
      display: none;
    }
  }